//- site variables
- site_url = 'https://hotelmangment.abyssiniaplus.com';
- metaAuthor = "Zelalem M., zola86@gmail.com";
- title = "Example Email";
- metaDescription = "Example Email";

//- Table Attributes
- var table_reset = {};
- table_reset.border = '0';
- table_reset.cellpadding = '0';
- table_reset.cellspacing = '0';

- var td_reset = {};
- td_reset.align = 'center';
- td_reset.valign = 'top';

//- CSS Color Variables
- dark_grey = '#242424';
- light_grey = '#eeeeee';
- white = '#ffffff';
- red = '#b71212';
- nld_navy_blue = '#191E2F';

//- Inline CSS Style Variables
- disb = 'display: block;';
- m0a = 'margin:0 auto;';
- m0 = 'margin:0 !important;';
- p0 = 'padding:0 !important;';
- b0 = 'border:0;border:none !important;';
//- makes top/bottom padding work in outlouk
- bmso = 'border: 1px solid #242424;';
- bgcnnb = 'background-color: '+nld_navy_blue+';';
- bgclg = 'background-color: '+light_grey+';';
- bgcw = 'background-color: '+white+';';
- w640 = 'width: 640px !important;';
- mw640 = 'max-width: 640px;';
- h1 = 'height: 1px;';
- bb1w = 'border-bottom: 1px solid #ffffff;';

//- - ff = 'font-family: Arial, sans-serif !important;';
- ff = 'font-family: Open Sans, Helvetica, sans-serif !important;';
- tcwhite = 'color: '+white+';';
- tdn = 'text-decoration: none !important;';
- fwn = 'font-weight: normal;';
- fwb = 'font-weight: bold;';
- fs12 = 'font-size: 12px;';
- fs14 = 'font-size: 14px;';
- fs16 = 'font-size: 16px;';
- fs20 = 'font-size: 20px;';
- fs35 = 'font-size: 35px;';

- text_normal = ff+tcwhite+tdn+fwn+b0;
- text_bold = ff+tcwhite+tdn+fwb+b0;