/* MEDIA QUERIES */
/* if screen is smaller than 639px */
/* hide components with .mobileOff */
/* specifically show components with .mobileOn */
@media all and (max-width: 639px) {
	.wrapper {
		width: 320px !important;
		padding: 0 !important;
	}
	.container {
		width: 300px !important;
		padding: 0 !important;
	}
	.mobile {
		width: 300px !important;
		display: block !important;
		padding: 0 !important;
	}
}
